rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    function em() { return request.auth.token.email.lower(); }
    function dom() { return request.auth != null && em().matches('.*@ibime[.]edu[.]mx'); }
    function admin() {
      return dom() && (em() == 'josue.jain@ibime.edu.mx' ||
        get(/databases/$(db)/documents/docentes/$(em())).data.rol == 'admin');
    }
    function docente() { return dom() && exists(/databases/$(db)/documents/docentes/$(em())); }

    match /docentes/{id} {
      allow get: if admin() || (dom() && em() == id);
      allow list: if admin();
      allow write: if admin();
    }
    match /{col}/{id} {
      allow read: if col in ['grupos','asignaturas','alumnos'] && (docente() || admin());
      allow write: if col in ['grupos','asignaturas','alumnos'] && admin();
    }
    match /asignaciones/{id} {
      allow read: if admin() || (docente() && resource.data.docente == em());
      allow write: if admin();
    }
    match /calificaciones/{id} {
      allow read: if admin();
      allow write: if admin() || (docente() && request.resource.data.docente == em()
        && request.resource.data.calif is number
        && request.resource.data.calif >= 0 && request.resource.data.calif <= 10);
    }
    match /avance/{id} {
      allow read: if admin() || (docente() && resource.data.docente == em());
      allow write: if admin() || (docente() && request.resource.data.docente == em());
    }
  }
}
